<!DOCTYPE html>
<html>
  <head>
    <title>RailsTrain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "首頁", root_path %>
    <% if user_signed_in? %>
      <li><%= link_to "一般使用者登出", destroy_user_session_path, method: "delete"%></li>
    <% else %>
      <li><%= link_to "一般使用者註冊", new_user_registration_path %></li>
      <li><%= link_to "一般使用者登入", new_user_session_path %></li>
    <% end %>
    <% if admin_signed_in? %>
      <%= link_to "所有商品", goods_path %>
      <%= link_to "新增商品", new_good_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
